<!DOCTYPE html>
<html>
<head>
    <title>Order Successful</title>
</head>

<body>

<div style="text-align:center; margin-top:100px;">

    <h1>🎉 Order Placed Successfully!</h1>

    <h2>Order #{{ order.id }}</h2>

    <p>
        Thank you, {{ order.full_name }}.
    </p>

    <p>
        Amount Paid:
        ₹{{ order.total_amount }}
    </p>

    <p>
        Confirmation email has been sent to
        <strong>{{ order.email }}</strong>.
    </p>

    <a href="{% url 'home' %}">
        Continue Shopping
    </a>

</div>

</body>
</html>