<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reset your ShopEasy password</title>
</head>

<body>
    <h2>Password Reset</h2>

    <p>Hello {{ user.get_username }},</p>

    <p>
        We received a request to reset your ShopEasy password.
    </p>

    <p>
        Click the button below to reset your password:
    </p>

    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
            Reset Password
        </a>
    </p>

    <p>
        If you did not request a password reset, you can safely ignore this email.
    </p>

    <p>
        Regards,<br>
        ShopEasy Garden
    </p>
</body>
</html>